<h1 class="text-center">Create Event</h1>
<p class="text-center">Add your event to STEM Calendar</p>
<form class="form-horizontal">
   <div class="form-group row">
      <div class="col-md-4">
         <label for="name">Event Name</label>
         <input type="text" class="form-control"  placeholder="" ng-model="ev.newEvent.name">

         <label for="decription">Event Description</label>
         <textarea class="form-control" placeholder="" ng-model="ev.newEvent.description"></textarea>

         <label class="control-label" for="organizer">Organizer</label>
         <input class="form-control" placeholder="" ng-model="ev.newEvent.organizer"/>
      </div>
   </div>
   <div class="control-group">
      <label class="control-label" for="startTime">Starts</label>
      <div class="controls">
         <input type="date" id="startDate" placeholder="" ng-model="ev.startDate">
         <input type="time" id="startTime" placeholder="" ng-model="ev.startTime">
      </div>
      <label class="control-label" for="endDate">Ends</label>
      <div class="controls">
         <input type="date" id="endDate" placeholder="" ng-model="ev.endDate">
         <input type="time" id="endTime" placeholder="" ng-model="ev.endTime">
      </div>
   </div>
   <div class="control-group">
      <label class="control-label" for="venue">Venue</label>
      <div class="controls">
         <input type="text" id="venue" placeholder="" ng-model="ev.newEvent.venue">
      </div>
      <label class="control-label" for="geolocation">Geolocation</label>
      <div class="controls">
         <input type="text" id="geolocation" placeholder="" ng-model="ev.newEvent.geolocation">
      </div>
   </div>
   <div class="control-group">
      <label class="checkbox">
         <input type="checkbox" value="science"> Science
      </label>
      <label class="checkbox">
         <input type="checkbox" value="technology"> Technology
      </label>
      <label class="checkbox">
         <input type="checkbox" value="engineering"> Engineering
      </label>
      <label class="checkbox">
         <input type="checkbox" value="math"> Math
      </label>
      <button type="submit" ng-click="ev.createEvent()" class="btn btn-primary">Submit</button>
   </div>
</form>